.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

:not(:defined) {
  visibility: hidden;
}

#nprogress .bar {
  background: rgb(var(--mdui-color-primary)) !important;
  z-index: 1145141919810114514;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px rgb(var(--mdui-color-primary)), 0 0 5px rgb(var(--mdui-color-primary));
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

